.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000073;
    padding-left: 1.35rem;
        padding-right: 1.35rem;
        padding-top: 2px;
        padding-bottom: 2px;
        height: 4rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    /* padding: 10px 20px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    border: 1px solid #ffffff40;
  }
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }
  .navbar-left a, .navbar-right div {
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .navbar-left a:hover {
    color: #4b9fff; /* Highlight on hover */
  }
  .navbar-right div {
    color: #4b9fff;
    font-weight: bold;
  }
  .navbar-right .metric {
    text-align: center;
    margin-right: 20px;
  }
  .navbar-right .metric span {
    display: block;
    font-size: 14px;
    color: #ccc;
  }
  .socials-btn {
    background: radial-gradient(232.36% 214.3% at 124.11% -92.78%, rgba(218, 227, 242, .2) 0, rgba(102, 122, 155, 0) 100%), #000;
    /* background: none; */
    border: 1px solid #4b9fff47;
    border-radius: 5px;
    color: #ccc;
    padding: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .socials-btn:hover {
    background: #4b9fff;
    color: #fff;
  }
  .social-icon{
    margin: 0;
  }