.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.35rem;
  padding-right: 1.35rem;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* padding: 10px 20px; */
}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left a,
.navbar-right div {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar-left a:hover {
  color: #4b9fff; /* Highlight on hover */
}
.navbar-right div {
  color: #4b9fff;
  font-weight: bold;
}
.metric-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.metric {
  /* text-align: center; */
  margin-right: 20px;
}
.metric span {
  display: block;
  font-size: 13px;
  color: #cecfd2;
  padding-bottom: 6px;
  font-weight: 200;
}
.metric-data {
  font-style: italic;
  font-weight: 600;
  color: #cecfd2c4;
}
.metric-break {
  width: 0.1px;
  height: 45px;
  background: #cecfd2;
  margin-right: 30px;
  margin-left: 10px;
}
.socials-btn {
  background: transparent;
  /* background: none; */
  border: 1px solid #73a0fb;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
  border-radius: 5px;
  color: #73a0fb;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.2px;
  font-weight: 500;
}
.logo-text{
  background: #00000068;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  border: 1px solid  #373A41;
}
 @media screen and (max-width:957px) {
  .navbar-left a{
    display: none;
  }
 }